body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 16px;
}

h1{
text-align: center;
}
h2{
    font-size: 1.5em;
}
.box{
    display: flex;
}
aside{

    /*background-color: blue;*/
    width: 300px;
    min-height: 100vh;
}
.cont{
    /*background-color: aquamarine;
    width: 100%;*/
    padding: 50px;
}
textarea{
    width: 90%;
    /*margin: 0 auto;*/
    padding: 10px;
}

img{
    margin: 0 auto;
    width: 50px;
    display: block;
}
.asid{
    padding: 10%;
}

  .sumit{
    background-color: #085ff7;
    border: .125rem solid #085ff7;
    border-radius: 6.25rem;
    background-repeat: repeat-x;
    cursor: pointer;
    /* margin-bottom: .5rem; */
    padding: .5rem 1.5rem;
    margin: 0!important;
    color: #fff;
  }

  .form{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    resize: none;    
}
    .form-check-inline{
        display: inline;
    }

    .mBot{
        margin-bottom: 25px;
    }