/* Base style */
body {
    padding: 0px;
    margin:0px;
    background-color: #F7F7F7;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

#container_home {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

p {
    text-align: center;
    font-size: 25px;
}

.description {
    width: 100%;
    margin-bottom: 0px;
}

section {
    /*width: 15%;*/
    margin-left: 5%;
    margin-right: 5%;
}

img {
    width: 100%;
    padding-top: 20px;
}

/* Background */
#bg {
    position: absolute;
    width: 115%;
    height: 500px;
    background-image: linear-gradient(orange, red);
    transform: translate(-75px, 100px) rotate(15deg);
}

/* Main screen style */
.screen {
    position: relative;
    width: 60%;
    height: 70vh;
    margin: auto;
    background-color: rgba(211, 211, 211, 0.5);
    /*box-shadow: 7px 5px 5px #555252;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.screen div {
    display: flex;
    justify-content: center;
}

#cancel {
    font-size: 15px;
    width: 5%;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    bottom: 0px;
    right: 0px;
    border: 1px solid #8d8787;
    /*border-radius: 15px 0px 0px 0px;*/
}

/* Links styles */
a {
    text-decoration: none;
    color: #000000;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
}

.hlinks:hover {
    /*border: 1px solid #000000;*/
    transform: scale(1.2);
}

@media screen and (max-width: 480px) {
    .screen div {
        flex-direction: column;
    }

    img {
        width: 50%;
        margin: auto;
    }
    
    #bg {
        width: 170%;
    }
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: absolute;
    z-index: 1;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(236, 98, 5);
}